body {
  background-color: rgb(255, 255, 255);
  font-family: "Rubik";
  color: #222222;
}
.gradientCustom {
  /* fallback for old browsers */
  background: #e5e5e5;
}
.form {
  box-shadow: #1262da;
  border-radius: 20px;
}
.login {
  font-family: "Rubik";
  color: #7e98df;
  font-weight: 300;
  font-size: 25px;
  line-height: 26px;
}
.subLogin {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #222222;
}
.forgot {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  color: #7e98df;
}
input {
  border: 0;
  outline: 0;
}
input:focus {
  outline: none !important;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
.noBorder {
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
.formLabel {
  color: #222222;
}
.btnLogin {
  background: #7e98df;
  width: 300px;
  color: white;
  height: 50px;
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
}
.garis {
  width: 100px;
  height: 1px;
  margin-top: 10px;
  background-color: #9c9a9a;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.loginwith {
  font-family: "Rubik";
  color: #848484;
}
.btnGoogle {
  background-color: white;
  width: 300px;
  color: white;
  height: 50px;
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #222222;
}
.iconGoogle {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}
.textGoogle {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3px;
  display: block;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #7e98df;
}
.register {
  margin-left: 80px;
  margin-right: auto;
  display: block;
  text-decoration: none;
}
.regis {
  margin-left: 130px;
  font-family: "Rubik";
  color: #7e98df;
  font-weight: 300;
  font-size: 25px;
  line-height: 26px;
}
@media (max-width: 576px) {
  .regis {
    margin-left: 60px;
  }
  .btnLogin {
    background: #7e98df;
    width: 250px;
  }
  .btnGoogle {
    width: 250px;
  }
  .garis {
    width: 50px;
  }
  .register {
    margin-left: 15px;
    font-size: 14px;
  }
}
