.session{
    grid-template-columns: repeat(4, minmax(0, 1fr)); 
    margin-left: 200px;
}
.edit{
    padding: 1.25rem; 
background-color: #ffffff; 
width: 25%; 
/* height: 200px; */

}
/* .list-chat{
    margin-left: 200px;
} */
.text-arow{
    font-size: 1.25rem;
line-height: 1.75rem; 
margin-left: -5px;

}
.detail-photo{
    padding: 1.25rem; 
flex-direction: column; 
justify-content: center; 
align-items: center; 

}
.photos{
    margin-left: 4.75rem; 
height: 5rem; 
border-radius: 0.5rem; 

}
.upload-images{
    margin-left: 80px;
    width: 20px;
}
.icon-upload{
    width: 30px;
    height: 30px;
        margin-left: 100px;
}
.input-profile{
    padding-bottom: 0.25rem; 
font-size: 1.25rem;
line-height: 1.75rem; 
font-weight: 500; 
text-align: center; 
border-style: solid; 

}
.form-profile{
    justify-content: center; 
margin-top: -10px;

}
.button-save{
    display: flex; 
padding: 0.5rem; 
padding-right: 2rem; 
padding-left: 2rem; 
color: #ffffff; 
font-weight: 500; 
align-items: center; 
margin-left: 80px;
border-radius: 0.5rem; 
background-color: rgba(126, 152, 223, 1);
}
.button-save:hover{
    background-color: rgba(126, 152, 223, 1);
}
.form-akun{
    position: fixed; 
top: 0; 
bottom: 0; 
margin-top: 20rem;
overflow-y: scroll;
overflow: hidden;
max-width: 295px; 
}
.acount{
    font-size: 1.125rem;
line-height: 1.75rem; 
font-weight: 500; 
color: black;
cursor: pointer;
}
.numbers{
    font-size: 0.875rem;
line-height: 1.25rem; 
cursor: pointer;
color: darkgray;
}
.input-phone{
    margin-top: 0.5rem; 
    width: 250px;
    outline: none;
}
.garis{
    margin-bottom: 15px;
    color: gray;
}
/* input:focus{
    outline: none;
} */
.label-username{
     font-size: 1.125rem;
line-height: 1.75rem; 
font-weight: 500; 
color: black;
cursor: pointer;
}
.input-username{
   margin-top: 0.5rem; 
    width: 250px;
    outline: none;
}

.input-bio{
   margin-top: 0.5rem; 
    width: 250px;
    height: 100px;
    outline: none;
}
.list-chats{
    background-color: #ffffff; 
width: 25%; 
padding: 2px;

}
.title-list{
    display: flex; 
padding-top: 1.25rem; 
padding-bottom:1.25rem; 
justify-content: space-between;
}
.icons{
    width: 45px;
    height: 40px;
}
.title-tele{
    margin-left: 0.25rem; 
font-size: 1.5rem;
line-height: 2rem; 
font-weight: 500; 
color: rgba(126, 152, 223, 1);
}
.menu{
    margin-top: 0.5rem; 
font-size: 1.5rem;
line-height: 2rem; 
color: rgba(126, 152, 223, 1);
cursor: pointer;
}
.img-title{
    padding: 1.25rem; 
    justify-content: center; 
    align-items: center;
    flex-direction:column ;
    display: block;
    margin-top: -35px;
    margin-left: 85px;
}
.img-title-card{
    border-radius: 50%;
object-fit: cover;
width: 95px;
height: 95px;
margin-left: 5px;
}
.title-username{
    font-size: 1.25rem;
line-height: 1.75rem; 
margin-top: 10px;
margin-left: 10px;
}
.title-text{
    color: gray;
    /* margin-left: 10px; */
}
.search{
    display: flex;
    padding-left: 1px;
}
/* .search-icon{
    margin-top: 0.75rem; 
    font-size: 1.875rem;
    line-height: 2.25rem;
    cursor: pointer; 
    background-color: rgba(126, 152, 223, 1);
} */
.history-chats{
    overflow-y: scroll; 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    background-attachment: scroll; 
    margin-top: 300px;
    height: auto;
    z-index: 10px;
}
.message{
    margin-left: 350px;
    border-style: solid; 
grid-column: span 3 / span 3; 
border-left: 1px;
border-color: gray;
}
.message-header{
    position: relative;
    overflow: hidden;
}
.details{
    position: absolute; 
right: 0; 
padding: 1.25rem; 
background-color: #ffffff; 
width: 18rem; 
height: 100vh;
z-index: 30;
box-shadow: 2px black;
}
.cursors{
    font-size: 1.25rem;
line-height: 1.75rem; 
cursor: pointer; 
margin-left: -5px;
color: black;
rotate: 180;
}
.card-detail{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.short{
    margin-left: 3.5rem; 
font-size: 1.25rem;
line-height: 1.75rem; 
text-align: center; 
margin-top: -5px;
}
.details-photo{
    justify-content: center; 
align-items: center; 
margin-top: 10px;
display: flex;
}
.photoes{
    margin-left: 0.75rem; 
width: 6rem; 
border-radius: 0.75rem; 
cursor: pointer;
height: 80px;
}
.card-text{
    margin-top:10px
}
.username-details{
    font-weight: 500;
    font-size: 1.25rem;
}
.text-online{
    font-size: 14px;
    color: rgb(233, 235, 241);
}
.text-phone{
    font-size: 16px;
}
.messages{
padding-bottom: 5rem; 
padding-top: 7rem; 
background-color: rgb(255, 255, 255);
min-height: 100vh;
}
.kosong{
    justify-content: center; 
align-items: center; 
height: 100vh; 
background-color: rgb(165, 165, 180);
display: flex;
}
.text-color{
    color: grey;
}